@keyframes svelte-1430cki-float{0%,to{transform:translateY(0)}50%{transform:translateY(-10px)}}@keyframes svelte-1430cki-fadeIn{0%{opacity:0;transform:translateY(10px)}to{opacity:1;transform:translateY(0)}}
